<div th:fragment="header">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

		.bernie {
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Poppins', sans-serif
		}

		.container {
			transform-style: preserve-3d
		}

		.container .box {
			position: relative;
			width: 300px;
			height: 300px;
			margin: 20px;
			transform-style: preserve-3d;
			perspective: 1000px;
			cursor: pointer
		}

		.container .box .body {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
			transition: 0.9s ease
		}

		.container .box .body .imgContainer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform-style: preserve-3d
		}

		.container .box .body .imgContainer img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover
		}

		.container .box .body .content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #333;
			backface-visibility: hidden;
			transform-style: preserve-3d;
			transform: rotateY(180deg)
		}

		.container .box:hover .body {
			transform: rotateY(180deg)
		}

		.container .box .body .content div {
			transform-style: preserve-3d;
			padding: 20px;
			background: linear-gradient(45deg, #FE0061, #FFEB3B);
			transform: translateZ(100px)
		}

		.container .box .body .content div h3 {
			letter-spacing: 1px
		}
	</style>
</div>