<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  lang="en">

<div th:fragment="navbar">
	<nav class="topnav">
		<div class="container-fluid">
			<div class="main-logo">
			<a class="logo_li" th:href="@{/}">
				<span class="span-logo">
					<img th:src="@{/img/TBLogo2.jpg}" alt="TBLogo">
				</span>
			</a>
			<a th:href="@{/sign-up}">Register</a>
			<a th:href="@{/login}">Login</a>
			</div>
			<div sec:authorize="isAuthenticated()" style="float: left;">
				<form th:action="@{/logout}" th:method="post">
					<button class="btn-link btn" style="margin-top: 8px">Logout</button>
				</form>
			</div>
<!--			<form class="d-flex">-->
<!--				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--				<button class="btn btn-outline-success" type="submit">Search</button>-->
<!--			</form>-->
		</div>

	</nav>
</div>
</html>
