<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--<nav class="navbar navbar-expand-lg topNav main-logo">-->
<!--    <div class="container-fluid">-->
<!--        <a class="logo_li" th:href="@{/}">-->
<!--			<span class="span-logo">-->
<!--				<img th:src="@{/img/TBLogo2.jpg}" alt="TBLogo">-->
<!--			</span>-->
<!--        </a>-->
<!--        <div class="" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link mr-5" href="#">Destinations</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                <form class="d-flex mt-3 ml-5 pl-5 pr-5">-->
<!--                    <input class="form-control me-2" type="text" placeholder="Find Shop By Name" aria-label="Search" size="50">-->
<!--                    <button class="btn" style="background-color: darkcyan; color: #f2f2f2; font-family: 'Poppins', sans-serif" type="submit" size="4">Search</button>-->
<!--                </form>-->
<!--                </li>-->

<!--                <div class="dropdown">-->

<!--                        <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-toggle="dropdown" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Logout</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                </div>-->


<!--<div class="dropdown">-->
<!--    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        Dropdown button-->
<!--    </button>-->
<!--    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--        <a class="dropdown-item" href="#">Action</a>-->
<!--        <a class="dropdown-item" href="#">Another action</a>-->
<!--        <a class="dropdown-item" href="#">Something else here</a>-->
<!--    </div>-->
<!--</div>-->













<!--                <div class="dropdown">-->
<!--                    <li class="nav-item dropdown ml-5 pl-5">-->
<!--                        <a class="nav-link dropdown-toggle ml-5 pl-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu dropdown-toggle" aria-labelledby="navbarDropdown">-->
<!--                            <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Logout</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </div>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<script th:insert="fragments/footer2"></script>
</body>
</html>