<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">

	<meta charset="UTF-8">
	<title>Title</title>

</head>
<body>
<nav th:insert="fragments/navbar"></nav>

<div class="container">
	<div id="categories" class="card float-left" th:each="category : ${categories}">
		<div class="row">
			<div class="col-sm-7">
				<div class="card-block">
					<h4 class="coffee-title" th:text="${category.name}"></h4>
					<br>
					<br>
<!--					<p class="coffee-text" th:text="${category.description}"></p>-->
					<br>
					<br>
					<br>
					<a th:href="${category.type} + '/' + ${city.id}" class="btn btn-primary btn-sm">GO LOCAL!</a>
				</div>
			</div>
			<div class="col-sm-5">
				<img class="d-block w-100"
					 th:src="@{'data:image/jpeg;base64,'+${category.categoryImage.generateBase64Image()}}"
					 alt="Category Image">
			</div>
		</div>
	</div>
</div>
<br>
</body>
</html>