<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">

    <meta charset="UTF-8">
    <title th:text="${city.name + ' Shop Categories'}"></title>

</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<h1 class="text-center" th:text="${city.name}"></h1>
<div class="card-deck">
    <div class="card" th:each="category : ${categories}">
        <img th:src="@{'data:image/jpeg;base64,'+${category.categoryImage.generateBase64Image()}}" class="card-img-top"
             alt="...">
        <div class="card-body">
            <h3 class="card-title text-center" th:text="${category.name}"></h3>
            <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti, ea eveniet expedita explicabo id libero modi mollitia necessitatibus nesciunt officiis quibusdam, veritatis voluptates! Ducimus fugiat reiciendis soluta. Ad amet animi aperiam aut beatae, consequatur cupiditate debitis dignissimos doloremque ea error ex, laboriosam nihil nulla perferendis quisquam sunt vero vitae..</p>
            <div class="footer text-center">
            <a th:href="${category.type} + '/' + ${city.id}" type="button" class="btn btn-warning">GO LOCAL!</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>