<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="category">
<nav th:insert="fragments/navbar"></nav>
<main>
    <div class="container-fluid w-100" style="height: 100vh;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div th:if="${shops.isEmpty()}">
                <div class="col">
                    <div class="card h-100 shadow-sm" style="margin-top: 40px;"><img
                            th:src="@{/img/plus.jpeg}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="rate" style="font-size: 15px;">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="clearfix mb-3"><span class="float-end"><a href="#" class="small text-muted" style="font-size: 15px;">See Reviews</a></span>
                            </div>
                            <h5 class="card-title text-center">Recommend Your Favorite Local Shop</h5>
                            <p class="card-text text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem
                                eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut.
                                Saepe, iste optio laudantium sed aliquam sequi.</p>
                            <div class="text-center my-4"><a th:href="@{/shop/recommend}" class="btn btn-warning">RECOMMEND A SHOP</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" th:each="shop : ${shops}">
                <div class="card h-100 shadow-sm" style="margin-top: 40px;">
                    <img th:src="@{'data:image/jpeg;base64,' + ${shop.images.get(0).generateBase64Image()}}"
                         alt="Shop Photo" style="height: 162px;"/>
                    <div class="label-top shadow-sm">
                        Local Favorite
                    </div>
                    <div class="card-body">
                        <div th:text="${reviewDao.avg(shop.id)}"></div>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5"/>
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4"/>
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3"/>
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2"/>
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1"/>
                            <label for="star1" title="text">1 star</label>
                        </div>
                        <div class="clearfix mb-3">
                     <span class="float-end">
                        <a th:href="'/shop/' + ${shop.id}" class="small text-muted">Reviews</a>
                     </span>
                        </div>
                        <h5 class="card-title text-center" th:text="${shop.name}"></h5>
                        <p class="card-text" th:text="${shop.description}"></p>
                        <div style="display: none" th:text="${shop.id}"></div>
                        <div class="text-center my-4">
                            <a th:href="'/shop/' + ${shop.id}" class="btn btn-warning">GO LOCAL!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="fragments/footer"></footer>
</body>
</html>













