<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">

    <meta charset="UTF-8">
    <title id="pageTitle" th:text="${city.name + ' Shop Categories'}"></title>

</head>
<body id="categories">
<nav th:include="fragments/navbar"></nav>
<!--<section class="categories section" style="height: 100vh; background-color: #04999e; margin-top: -22px;">-->
<div class="container-fluid text-center" style="min-height: 100vh; background-color: #04999e;">
<div class="card-deck" style="margin-bottom: 30px;">
<!--    <h1 class="text-center" style="color: white;" th:text="${city.name}"></h1>-->
    <div class="card" th:each="category : ${categories}">
        <img th:src="@{'data:image/jpeg;base64,'+${category.categoryImage.generateBase64Image()}}"
             class="card-img-top"
             alt="...">
        <div class="card-body">
            <h2 class="card-title text-center" th:text="${category.name}"></h2>
<!--            <p class="card-text text-center" style="font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda-->
<!--                deleniti, ea eveniet expedita explicabo id libero modi mollitia necessitatibus nesciunt officiis-->
<!--                quibusdam, veritatis voluptates! Ducimus fugiat reiciendis soluta. Ad amet animi aperiam aut beatae,-->
<!--                consequatur cupiditate debitis dignissimos doloremque ea error ex, laboriosam nihil nulla-->
<!--                perferendis quisquam sunt vero vitae..</p>-->
            <div class="footer text-center">
                <a th:href="${category.type} + '/' + ${city.id}" type="button" class="btn btn-primary" style="background-color: #ef482f; color: white;">GO LOCAL!</a>
            </div>
        </div>
    </div>
</div>
</div>
<!--</section>-->
<footer th:insert="fragments/footer"></footer>

</body>

</html>