<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
<!--<head>-->
	<meta charset="UTF-8">
	<title>Title</title>
<!--	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--		  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--	<style>-->
<!--		@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');-->
<!--		@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');-->
<!--		@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');-->

<!--		:root {-->
<!--			&#45;&#45;font1: 'Heebo', sans-serif;-->
<!--			&#45;&#45;font2: 'Fira Sans Extra Condensed', sans-serif;-->
<!--			&#45;&#45;font3: 'Roboto', sans-serif-->
<!--		}-->

<!--		body {-->
<!--			font-family: var(&#45;&#45;font3);-->
<!--			background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)-->
<!--		}-->

<!--		h2 {-->
<!--			font-weight: 900-->
<!--		}-->

<!--		.container-fluid {-->
<!--			max-width: 1200px-->
<!--		}-->

<!--		.card {-->
<!--			background: #fff;-->
<!--			box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);-->
<!--			transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);-->
<!--			border: 0;-->
<!--			border-radius: 1rem-->
<!--		}-->

<!--		.card h5 {-->
<!--			overflow: hidden;-->
<!--			height: 56px;-->
<!--			font-weight: 900;-->
<!--			font-size: 1rem-->
<!--		}-->

<!--		.card h2 {-->
<!--			font-size: 1rem-->
<!--		}-->

<!--		.card:hover {-->
<!--			transform: scale(1.05);-->
<!--			box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)-->
<!--		}-->

<!--		.label-top {-->
<!--			position: absolute;-->
<!--			background-color: #8bc34a;-->
<!--			color: #fff;-->
<!--			top: 8px;-->
<!--			right: 8px;-->
<!--			padding: 5px 10px 5px 10px;-->
<!--			font-size: .7rem;-->
<!--			font-weight: 600;-->
<!--			border-radius: 3px;-->
<!--			text-transform: uppercase-->
<!--		}-->

<!--		.top-right span {-->
<!--			display: inline-block;-->
<!--			vertical-align: middle-->
<!--		}-->

<!--		@media (max-width: 768px) {-->
<!--			.card-img-top {-->
<!--				max-height: 250px-->
<!--			}-->
<!--		}-->

<!--		.btn {-->
<!--			font-size: 1rem;-->
<!--			font-weight: 500;-->
<!--			text-transform: uppercase;-->
<!--			padding: 5px 50px 5px 50px-->
<!--		}-->

<!--		.box .btn {-->
<!--			font-size: 1.5rem-->
<!--		}-->

<!--		@media (max-width: 1025px) {-->
<!--			.btn {-->
<!--				padding: 5px 40px 5px 40px-->
<!--			}-->
<!--		}-->

<!--		@media (max-width: 250px) {-->
<!--			.btn {-->
<!--				padding: 5px 30px 5px 30px-->
<!--			}-->
<!--		}-->

<!--		.btn-warning {-->
<!--			background: none #04999e;-->
<!--			color: #ffffff;-->
<!--			fill: #ffffff;-->
<!--			border: none;-->
<!--			text-decoration: none;-->
<!--			outline: 0;-->
<!--			box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);-->
<!--			border-radius: 100px-->
<!--		}-->

<!--		.btn-warning:hover {-->
<!--			background: none #e3442e;-->
<!--			color: #ffffff;-->
<!--			box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)-->
<!--		}-->

<!--		@media (max-width: 576px) {-->
<!--			.box-img {-->
<!--				max-width: 200px-->
<!--			}-->

<!--		}-->

<!--		@media (max-width: 370px) {-->
<!--			.box .btn {-->
<!--				padding: 5px 40px 5px 40px;-->
<!--				font-size: 1rem-->
<!--			}-->
<!--		}-->


<!--		.related h3 {-->
<!--			font-weight: 900-->
<!--		}-->

<!--		footer {-->
<!--			background: #212529;-->
<!--			height: 80px;-->
<!--			color: #fff-->
<!--		}-->

<!--		* {-->
<!--			margin: 0;-->
<!--			padding: 0;-->
<!--		}-->

<!--		.rate {-->
<!--			float: left;-->
<!--			height: 46px;-->
<!--			padding: 0 10px;-->
<!--		}-->

<!--		.rate:not(:checked) > input {-->
<!--			position: absolute;-->
<!--			top: -9999px;-->
<!--		}-->

<!--		.rate:not(:checked) > label {-->
<!--			float: right;-->
<!--			width: 1em;-->
<!--			overflow: hidden;-->
<!--			white-space: nowrap;-->
<!--			cursor: pointer;-->
<!--			font-size: 15px;-->
<!--			color: #ccc;-->
<!--		}-->

<!--		.rate:not(:checked) > label:before {-->
<!--			content: '★ ';-->
<!--		}-->

<!--		.rate > input:checked ~ label {-->
<!--			color: #ffc700;-->
<!--		}-->

<!--		.rate:not(:checked) > label:hover,-->
<!--		.rate:not(:checked) > label:hover ~ label {-->
<!--			color: #deb217;-->
<!--		}-->

<!--		.rate > input:checked + label:hover,-->
<!--		.rate > input:checked + label:hover ~ label,-->
<!--		.rate > input:checked ~ label:hover,-->
<!--		.rate > input:checked ~ label:hover ~ label,-->
<!--		.rate > label:hover ~ input:checked ~ label {-->
<!--			color: #c59b08;-->
<!--		}-->
<!--	</style>-->
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<main>
	<div class="container-fluid my-4 p-3" style="background-color: #04999e; height: 100vh; margin-top: -22px;">
		<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
			<div class="col" th:each="shop : ${shops}">
				<div class="card h-100 shadow-sm">
					<img th:src="@{'data:image/jpeg;base64,' + ${shop.images.get(0).generateBase64Image()}}"
						 alt="Shop Photo" style="height: 162px;"/>
					<div class="label-top shadow-sm" style="margin-top: -20px; margin-right: -15px;">
						Local Favorite
					</div>
					<div class="card-body">
						<div class="rate">
							<input type="radio" id="star5" name="rate" value="5"/>
							<label for="star5" title="text">5 stars</label>
							<input type="radio" id="star4" name="rate" value="4"/>
							<label for="star4" title="text">4 stars</label>
							<input type="radio" id="star3" name="rate" value="3"/>
							<label for="star3" title="text">3 stars</label>
							<input type="radio" id="star2" name="rate" value="2"/>
							<label for="star2" title="text">2 stars</label>
							<input type="radio" id="star1" name="rate" value="1"/>
							<label for="star1" title="text">1 star</label>
						</div>
						<div class="clearfix mb-3">
                     <span class="float-end">
                        <a th:href="'/shop/' + ${shop.id}" class="small text-muted">Reviews</a>
                     </span>
						</div>
						<h5 class="card-title text-center" th:text="${shop.name}"></h5>
						<p class="card-text" th:text="${shop.description}"></p>
						<div style="display: none" th:text="${shop.id}"></div>
						<div class="text-center my-4">
							<a th:href="'/shop/' + ${shop.id}" class="btn btn-warning">GO LOCAL!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>