<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title class="m-5">Coffee Shops</title>
    <style>
        img {
            max-width: 100% !important;
            height: 300px;
            display: block;
        }
        .image-wrap {
            display: inline-block;
            max-width: 100%;
        }
        .image-wrap span {
            padding: 5px;
            border: 1px solid black;
            display: block;
        }

    </style>
</head>
<body>
<div class="all-classes-container">
<h1 class="p-5">Coffee Shops</h1>
<div class="row row-cols-1 row-cols-md-4 p-5">
    <div class="container-sm">
        <a class="image-wrap" href="testReviewPage.html">
            <span>
                <img src="https://imgur.com/GAVcpGW.jpg" alt="Merit Coffee Shop">
            </span>
        </a>
    </div>
    <div class="container-sm" >
        <a class="image-wrap" href="testReviewPage.html">
            <span>
        <img src="https://cdn.businessyab.com/assets/uploads/a4bbebfc5650d1e16307d5492bca4eaa_-united-states-texas-bexar-county-san-antonio-harlandale-bustillos-drive-359-cafe-azteca-210-507-2241.jpg" alt="Cafe Azteca">
            </span>
        </a>
    </div>
    <div class="container-sm">
        <a class="image-wrap" href="testReviewPage.html">
            <span>
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/dd/45/23/king-william-1mi-south.jpg" alt="Halcyon Southtown">
            </span>
        </a>
    </div>
    <div class="container-sm">
        <a class="image-wrap" href="testReviewPage.html">
            <span>
                <img src="https://cdn.shopify.com/s/files/1/0250/3331/0292/files/78E7E6F6-473A-4EE3-88DB-F628E311CA04_1024x1024.png?v=1605495711" alt="Pulp Coffee">
            </span>
        </a>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>