<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">

    <meta charset="UTF-8">
    <title>Destinations</title>

</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<div id="carouselDestinationCaptions" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner"  style="margin-top: -22px;">
        <div class="carousel-item" th:each="city : ${cities}">
            <img th:src="@{'data:image/jpeg;base64,'+${city.cityImage.generateBase64Image()}}" alt="Destination Photos"
                 class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <a style="text-decoration:none" th:href="'category/' + ${city.id}">
                    <h3 class="text-white fs-3 text-center" th:text="${city.name}"></h3>
                    <p class="fs-4 text-white text-center" th:text="${city.description}"></p>
                </a>
            </div>
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestinationCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestinationCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script th:inline="javascript">
    var destinations=document.getElementsByClassName('carousel-item')
    console.log(destinations[0].classList +=" active")

</script>
</body>
</html>