<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
	<meta charset="UTF-8">
	<title>Destinations</title>


</head>
<body>
<nav th:insert="fragments/navbar"></nav>

<div class="bernie" style="background-color: #04999e;">
	<div class="container d-flex align-items-center justify-content-center flex-wrap" th:each="city : ${cities}">
		<div class="box">
			<div class="body">
				<div class="imgContainer">
					<img th:src="@{'data:image/jpeg;base64,'+${city.cityImage.generateBase64Image()}}"
						 alt="City Photo"/>
				</div>
				<div class="content d-flex flex-column align-items-center justify-content-center">
					<div>
						<a style="text-decoration:none" th:href="'category/' + ${city.id}">
							<h3 class="text-white fs-5 text-center" th:text="${city.name}"></h3>
							<p class="fs-6 text-white" th:text="${city.description}"></p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>