<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>

<form th:action="${'/profile/edit'}" method="POST">

    <label name="userName">Full Name:</label>
    <input name="userName" th:value="${nameToEdit.getName()}">

    <label name="userEmail">Email:</label>
    <input name="userEmail" th:value="${emailToEdit.getEmail()}">

    <label name="sneakerName">Name of Sneaker:</label>
    <input name="sneakerName" th:value="${sneakerToEdit.getName()}">

    <input name="sneakerId" type="hidden" th:value="${sneakerToEdit.getId()}">
    <button type="submit">Submit Edit</button>
</form>

</body>
</html>