<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">
    <meta charset="utf-8">
    <title>TravelBuddy</title>
</head>
<body id="home">
<nav th:insert="fragments/navbar"></nav>

<div id="travelBuddy-header" class="img-responsive" role="banner">
    <video playsinline="playsinline" autoplay="autoplay"
           muted="muted" loop="loop">
        <source th:src="@{/video/travel-buddy.mp4}" type="video/mp4">
    </video>
</div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>