<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header">
	<meta charset="UTF-8">
	<title id="pageTitle">Upload Image</title>
</head>
<body id="photoUpload">
<nav th:include="fragments/navbar"></nav>
<div class="container-fluid text-center" style="min-height: 100vh; margin-top: -22px;">
	<div>
		<h1 th:text="${shop.name}"></h1>
	</div>
	<form class="photoUpload" th:action="@{'/shop/' + ${shop.id} + '/upload/'}" method="post" enctype="multipart/form-data">
		<div class="border rounded m-3">
			<h2 class="m-3">Upload Your Image:</h2>
			<div class="container text-center">
				<input class="form-control" type="file" name="image" required>
			</div>
			<div>
				<input type="submit" value="Upload" class="btn btn-primary m-3" style="background-color: #ef482f">
			</div>
		</div>
	</form>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>