<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header">
	<meta charset="UTF-8" />
	<title>Leave a Review</title>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<h1>Leave a Review</h1>
<div th:text="${shop.name}"></div>
<form th:action="@{'/create/review/shop/' + ${shop.id}}" method="POST">
	<label for="rating">Rating</label>
	<input id="rating" name="rating" />

	<label for="description">Review</label>
	<input id="description" name="description" />

	<input value="Submit Review" type="submit" />
</form>
</body>
</html>


