<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form th:action="@{/shop/recommend}" method="post">
	<div class="form-group">
		<label for="city">Choose a City:</label>
		<select class="form-control" id="city" name="city" required>
			<option selected value="0">City</option>
			<div th:each="city : ${cities}">
				<option th:value="${city.id}" th:text="${city.name}"></option>
			</div>
		</select>
	</div>
	<div class="form-group">
		<label for="city">Choose Category:</label>
		<select class="form-control" id="category" name="category" required>
			<option selected value="0">Category</option>
			<div th:each="category : ${categories}">
				<option th:value="${category.id}" th:text="${category.name}"></option>
			</div>
		</select>
	</div>
	<div class="form-group">
		<label for="shopName">Shop Name:</label>
		<input id="shopName" type="text" name="shopName" required>
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>
</body>
</html>