<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">

    <meta charset="UTF-8">
    <title>Shop Page</title>

		#map {
			width: 30%;
			height: 800px;
		}
	</style>
</head>
<body>
<nav th:insert="fragments/navbar"></nav>
                    </div>
                </h4>
                <span>- January 15, 2022</span> <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam
                    vero sequi velit molestias doloremque molestiae dicta?</p>
            </div>
            <div class="text-justify darker mt-4 float-right"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStNGlM-N_68C0DVtefYhf2PhLdKhPU5a3hCg&usqp=CAU"
                    alt="" class="rounded-circle" width="40" height="40">
                <h4>Bart Simpson
                    <div class="float-right">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </h4>
                <span>- January 10, 2022</span> <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam
                    vero sequi velit molestias doloremque molestiae dicta?</p>
            </div>
            <div class="comment mt-4 text-justify"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB555gY7t6xtooHJHtuQ9ClW7STrNvDCHTwg&usqp=CAU"
                    alt="" class="rounded-circle" width="40" height="40">
                <h4>Joey Donuts
                    <div class="float-right">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </h4>
                <span>- January 8, 2022</span> <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam
                    vero sequi velit molestias doloremque molestiae dicta?</p>
            </div>
            <div class="darker mt-4 text-justify"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStNGlM-N_68C0DVtefYhf2PhLdKhPU5a3hCg&usqp=CAU"
                    alt="" class="rounded-circle" width="40" height="40">
                <h4>Bart Simpson
                    <div class="float-right">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </h4>
                <span>- January 2, 2022</span> <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam
                    vero sequi velit molestias doloremque molestiae dicta?</p>
            </div>
        </div>
        <div class="card col-sm-6 float-right" style="background-color: #c2c2c2; width: 40rem; height: 22rem; font-size: 20px; font-weight: 600; margin-top: -40px; margin-bottom: 20px;">
            <div class="card-header">
                <a href="https://meritcoffee.com/" role="link">https://meritcoffee.com</a>
            </div>
            <div class="card-header" style="margin-top: 5px;">
                <p>(210) 222-2222<i class="fa fa-phone fa-lg float-right"></i></p>
            </div>
            <div class="card-header">
                <a href="##map" role="link">Get Directions:</a>
                <p>5903 Broadway,<i class="fa fa-directions fa-lg float-right"></i>
                    <br>San Antonio, TX 78209</p>
            </div>
        </div>
        <br>
        <br>
        <div class="card col-sm-6 float-right" id="map" style="width: 40rem; height: 40rem;"></div>

    </div>
</div>


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="mapbox-geocoder-utils.js"></script>

<script th:inline="javascript">

	/*<![CDATA[*/

	let key = /*[[${mapboxApiKey}]]*/ 'default';

	mapboxgl.accessToken = key;
	const map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v9',
		zoom: 15,
		center: [-98.46584991434109, 29.483725325591443],
	});


	var marker = new mapboxgl.Marker()
		.setLngLat([-98.46584991434109, 29.483725325591443])
		.addTo(map);

	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		mapboxgl: mapboxgl,
		marker: false,
		placeholder: '',
		proximity: {
			longitude: -98.46584991434109,
			latitude: 29.483725325591443
		}
	});
    mapboxgl.accessToken = key;
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        zoom: 15,
        center: [-98.46529, 29.48079],
    });


    var marker = new mapboxgl.Marker()
        .setLngLat([-98.46529, 29.48079])
        .addTo(map);

    var meritInfo = {
        address: "5903 Broadway, In Villita Del Sol, San Antonio, TX 78209",
        popupHTML: "<p>Merit Coffee</p>"
    };

    function placeMarkerAndPopup(info, token, map) {
        geocode(info.address, token).then(function (coordinates) {
            var popup = new mapboxgl.Popup()
                .setHTML(info.popupHTML);
            var marker = new mapboxgl.Marker()
                .setLngLat(coordinates)
                .addTo(map)
                .setPopup(popup);
            popup.addTo(map);
        });
    }

    placeMarkerAndPopup(meritInfo, accessToken, map);

    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl,
        marker: false,
        placeholder: '',
        proximity: {
            longitude: -98.46529,
            latitude: 29.48079
        }
    });

	/*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
</body>
</html>