<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
    <meta charset="UTF-8">
    <title id="pageTitle">Recommend a Shop</title>
</head>
<body>
<nav th:include="fragments/navbar"></nav>
<div id="recommendationform" class="form-body" style="background-color: #b3b3b3; margin-top: -22px;">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items" style="background-color: white; width: 600px">
                    <h3>Submit a Local Recommendation</h3>
                    <p>Fill in the data below.</p>
                    <form th:action="@{/shop/recommend}" method="post">

                        <div class="col-md-12">
                            <select class="form-select mt-3" id="city" name="city" required>
                                <option class="text-muted" selected value="0">Choose a City</option>
                                <div th:each="city : ${cities}">
                                    <option class="text-black" th:value="${city.id}" th:text="${city.name}"></option>
                                </div>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <select class="form-select mt-3" id="category" name="category" required>
                                <option class="text-muted" selected value="0">Choose a Category</option>
                                <div th:each="category : ${categories}">
                                    <option class="text-black" th:value="${category.id}" th:text="${category.name}"></option>
                                </div>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="shopName"></label><textarea class="text" id="shopName" name="shopName" rows="1" placeholder="Enter Shop Name"
                                                                    required></textarea>
                        </div>

                        <div class="col-md-12">
                            <label for="shopDescription"></label><textarea class="text" id="shopDescription" name="shopDescription"
                                                                           placeholder="Enter Shop Description" required></textarea>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary" style="background-color: #ef482f">Submit Recommendation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer"></footer>

</body>
</html>