<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shop Page</title>
    <style>
        .checked {
            color: orange;
        }
        #map {
            /* the width and height may be set to any size */
            width: 30%;
            height: 800px;
        }
    </style>

</head>
<body>
<nav th:insert="fragments/navbar"></nav>
<div class="end">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="profile.html" data-abc="true">Profile</a> </li>
            <li class="nav-item "> <a class="nav-link" href="cities.html" data-abc="true">Cities</a> </li>
        </ul>
    </div>
</div>
<div class="large-image m-5">
    <img src="https://imgur.com/GAVcpGW.jpg" class="img-fluid" alt="...">
</div>
<div class="m-5">
    <a href="leaveReview.html"> <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-star" aria-hidden="true"></i>Write A Review</button></a>
    <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-camera" aria-hidden="true"></i> Add Photo</button>
    <button type="button" class="btn btn-secondary btn-sm">Save To Intineray</button>
</div>
<div class="float-right m-5" id='map'></div>

<div class="float-right">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</div>
<div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Reviews</h1>
                    <div class="comment mt-4 text-justify float-left"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB555gY7t6xtooHJHtuQ9ClW7STrNvDCHTwg&usqp=CAU" alt="" class="rounded-circle" width="40" height="40">
                        <h4>Joey Donuts</h4> <span>- January 15, 2022</span> <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                    </div>
                    <div class="text-justify darker mt-4 float-right"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStNGlM-N_68C0DVtefYhf2PhLdKhPU5a3hCg&usqp=CAU" alt="" class="rounded-circle" width="40" height="40">
                        <h4>Bart Simpson</h4> <span>- January 10, 2022</span> <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                    </div>
                    <div class="comment mt-4 text-justify"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB555gY7t6xtooHJHtuQ9ClW7STrNvDCHTwg&usqp=CAU" alt="" class="rounded-circle" width="40" height="40">
                        <h4>Joey Donuts</h4> <span>- January 8, 2022</span> <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                    </div>
                    <div class="darker mt-4 text-justify"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStNGlM-N_68C0DVtefYhf2PhLdKhPU5a3hCg&usqp=CAU" alt="" class="rounded-circle" width="40" height="40">
                        <h4>Bart Simpson</h4> <span>- January 2, 2022</span> <br>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
                    </div>
                </div>=

            </div>
        </div>
    </section>
    <p class="float-left m-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nihil quas soluta tenetur vel. Aut consectetur dolorem, ipsum iusto labore laboriosam quisquam veritatis. Commodi cupiditate exercitationem laboriosam sequi, sint soluta.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut consequatur consequuntur cum debitis dignissimos dolore, doloremque, ducimus eligendi error, modi molestiae neque nesciunt perferendis quam repellat sunt vel voluptate.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, cum deserunt dolorem dolores esse ex explicabo fugiat in ipsam itaque minima odit perferendis praesentium quas quod ratione tempora totam voluptate.</p>
</div>
<script th:src="@{keys.js}"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="mapbox-geocoder-utils.js"></script>

<script>
    mapboxgl.accessToken = mapboxAPIKey;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        zoom: 10,
        center: [-98.46584991434109,29.483725325591443]
    });

    geocode("5903 Broadway · In Villita Del Sol, San Antonio, TX 78209", mapboxAPIKey).then(function(result) {
        console.log(result);
        map.setCenter(result);
        map.setZoom(20);

        var marker = new mapboxgl.Marker()
            .setLngLat([-98.46584991434109,29.483725325591443])
            .addTo(map);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>