<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">

    <meta charset="UTF-8">
    <title id="pageTitle">Team Page</title>

</head>
<body style="background-color: #b3b3b3;">

<nav th:include="fragments/navbar"></nav>
<div id="teamprofile" class="profile-area 100vh" style="background-color: #b3b3b3; margin-top: 50px;">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="img1"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdzg_C6N8KYOfPqgZXRAXGM3x3whzDgGT1EQ&usqp=CAU"
                            alt=""></div>
                    <div class="img2"><img th:src="@{/img/Bernie Esquivel.jpg}" alt="Bernie Image"></div>
                    <div class="main-text">
                        <h2>Bernie Esquivel</h2>
                        <h4>Full Stack Web Developer</h4>
                    </div>
                    <div class="socials">
                        <a href="mailto: bernieesquivel01@gmail.com"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/bernieesquivel/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/bernieesquivel01"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="img1"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkvNF7YU4zv4nD9dYUycXAcHO8S4lV0i1zUQ&usqp=CAU"
                            alt=""></div>
                    <div class="img2"><img th:src="@{/img/Adamina.png}" alt="Adamina Image"></div>
                    <div class="main-text">
                        <h2>Adamina Flores</h2>
                        <h4>Full Stack Web Developer</h4>
                    </div>
                    <div class="socials">
                        <a href="mailto: adaminaflores19@gmail.com"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/adamina-flores/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/adaminaflores"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="img1"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrGZ2uNmg7yYZuR4rgbaESOj413ibQYujhDg&usqp=CAU"
                            alt=""></div>
                    <div class="img2"><img th:src="@{/img/bosch.png}" alt="Bosch Image"></div>
                    <div class="main-text">
                        <h2>Bosch Leith</h2>
                        <h4>Full Stack Web Developer</h4>
                    </div>
                    <div class="socials">
                        <a href="mailto: bosch.leith@gmail.com"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/bosch-leith/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/BoschLeith"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="img1"><img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJb9mjv_6b19A6qb_8KZtMEY1AbjSJ_iDhMg&usqp=CAU"
                            alt=""></div>
                    <div class="img2"><img th:src="@{/img/JohnAlejandro.jpg}" alt="John Image"></div>
                    <div class="main-text">
                        <h2>John Alejandro</h2>
                        <h4>Full Stack Web Developer</h4>
                    </div>
                    <div class="socials">
                        <a href="mailto: john.e.alejandro01@gmail.com"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/john-alejandro01/"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/John-Alejandro"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>